files:
  "/etc/cron.d/sqs-worker":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * webapp bash -c 'source /opt/elasticbeanstalk/deployment/env && cd /var/app/current && php bin/cake.php sqs_poll --max-messages=10 >> /var/log/sqs-worker.log 2>&1'

commands:
  01_restart_cron:
    command: "service crond restart || service cron restart || true"
